{
 margin: 0;
 padding: 0;
}
#nav-bar
{
 position: sticky:
 top: 0:
 zindex: 10;
}
.navbar-brand img
{
 height: 80px;
 padding-left: 30px;
 }

 .navbar-nav li
{
 padding: 0 10px;
}
.navbar-nav li a
{
 float: right;
 text-align: left;
}
#nav-bar ul li a:hover
{
 colour: #007bff!important;
}
.navbar
{
 background: #fff;
}
.navbar-toggler
{
 border: none!important;
}
.nav-link
{
  colour: #555!important;
  font-weight: 600;
  font-size: 20px;
}
/*---------------------------------slider*/
#slider
{ 
 width: 100%;
}
.carousel-caption
{
 top: 30%;
 transform: translateY(50%);
 padding-bottom: 30px;
}
.carousel-caption h5
{
 colour: #fff;
 font-size: 42px;
}

#about
{
 padding-top: 50px;
 padding-bottom: 50px;
}

#about .btn
{
 margin-top: 20px;
 margin-bottom: 30px;
}
.about-content
{
 padding-top: 20px;
}

.skills-bar p
{
  margin-bottom: 6px;
  font-weight: 600; 
}
.progress bar
{
 border-radius: 16px;
}
.progress
{
 border-radius: 16px !important;
 margin-bottom: 20px;
}

#pricing
{

 background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(img1/7.jpg);
 background-size: cover;
 background-position: center;
 colour: #fff;
 background-attachment: fixed;
 padding: 50px;
 font-family: sans-serif;
 font-size: 30px; 

}

#pricing h1
{
   text-align: center;
   colour: #808080!important;
   padding-bottom: 10px;
}

#pricing h1::after
{
 content: '';
 background: #0000ff !important;
 display: block;
 height: 3px;
 width: 170px;
 margin: 20px auto 5px;
}

#pricing p
{
 text-align: center;
 weight: 600;
 colour: #ffffff !important;
}

#orders h1
{
 text-align: center;
 padding-top: 50px;
 padding-bottom: 20px; 
}

#orders h1::after
{
 content: '';
 background: #0000ff !important;
 display: block;
 height: 3px;
 width: 170px;
 margin: 20px auto 5px;
}

#order
{
 background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(img1/7.jpg);
 background-size: cover;
 background-position: center;
 colour: #fff;
 background-attachment: fixed;
 padding: 100px;
 font-family: sans-serif;
 font-size: 50px; 
}

#coustomer .row
{
 margin-top: 30px;

}

.col-md-4
{
 margin: 40px auto;
}

.profile
{
 padding: 70px 10px 30px;
 background-colour: #efefef;

}

.user 
{
 width: 120px;
 height: 120px;
 border-radius: 50%;
}

.profile img
{
  top: -60px;
  position:absolute;
 left: calc(50% - 60px);
 border: 10px solid #fff;    
 
}

.profile h3
{
  font-size: 20px;
  margin-top: 15px;
  colour: #007bff;
}


.container h1
{
 text-align: center;
}
/*
#coustomer span

{

 font-size: 12px;
 colour: #333; 
}

blockquote
{
 font-size: 16px;
 line-height: 30px; 
}


blockquote::before
{
 content: '\93';
 font-size: 50px;
 line-height: 20px; 
 colour: #0000ff;
 position: relative;
 bottom: -15px;
 right: 5px; 
}

blockquote::after
{
 content: '\94';
 font-size: 50px;
 line-height: 20px; 
 colour: #007bff;
 position: relative;
 bottom: -15px;
 right: 5px; 
}

*/
.profile
{
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.5s;
}

/*           get in  touch*/
#contact
{
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}

.contact-form
{
  padding: 15px;
}

.form-control
{
  border-radius: 0 !important;
  border: none !important;
}

::placeholder
{
  colour: #999 !important;
}

.follow
{
  background: #fff;
  padding: 10px;
  padding-right: 50px;
  margin: 15px;
}

.contact-info .fa
{
  margin: 10px;
}

#footer
{
  background: #333;
  color: #fff;
  padding: 12px;
}
